@import "/src/styles/index"
@import "/src/styles/colors"

$inner-width: 440px
$inner-horizontal-padding: 13px
$inner-top-padding: 8px
$inner-bottom-padding: 6px
$creation-date-bottom: 5px
$creation-date-right: 10px

.current-user-message .message-author-avatar
  display: none

.message-indent
  padding-top: 5px

.message
  display: flex
  align-items: flex-end

.message-wrapper
  position: relative
  border-radius: 3px
  border-bottom-left-radius: 0
  background: #182533
  max-width: $inner-width
  
.message-author-wrapper
  display: none
  padding: $inner-bottom-padding $inner-horizontal-padding 3px

.message-triangle
  position: absolute
  width: 0
  height: 0
  bottom: -4px
  left: -6px
  -webkit-transform: rotate(-135deg)
  transform: rotate(-135deg)
  border-top: 7px solid transparent
  border-bottom: 7px solid transparent
  border-right: 7px solid #182533

.message-author
  color: #9D8BF2
  font-size: 14px

.message-text
  color: #F5F5F5
  font-size: 14px

.message-created-at
  position: absolute
  bottom: $creation-date-bottom
  right: $creation-date-right
  color: #727E8A
  font-size: 13px

.message-reply
  right: 20px
  position: absolute
  font-size: 14px
  color: #727E8A

.text-content
  word-break: break-word
  padding-top: $inner-top-padding
  padding-left: $inner-horizontal-padding
  padding-right: $inner-horizontal-padding
  padding-bottom: $inner-bottom-padding
  font-size: $font-size

.first-in-row-message .message-author-wrapper,
.single-message .message-author-wrapper
  display: block

.first-in-row-message,
.single-message
  &:not(.current-user-message)
    .text-content
      padding-top: 0

.first-in-row-message .message-triangle,
.first-in-row-message .message-author-avatar,
.previous-in-row-message .message-triangle,
.previous-in-row-message .message-author-avatar
  visibility: hidden

.last-in-row-message .message-wrapper:hover .message-reply,
.previous-in-row-message .message-wrapper:hover .message-reply
  display: none

.message-wrapper:hover .message-reply
  display: block

.message-reply
  display: none
  text-decoration: underline
  cursor: pointer

.message-form
  display: flex
  justify-content: center
  flex-direction: column

.message-form__content
  display: flex
  align-items: center
  padding: 9px 0

.message-input-icon path
  fill: #727E8A

.message-input-icon
  width: 20px
  padding: 0 15px
  -webkit-transform: scale(1.5)
  transform: scale(1.5)

.message-input
  -webkit-box-flex: 2
  -ms-flex: 2
  flex: 2
  background: transparent
  width: 100%

.image-content
  max-width: $inner-width

.current-user-message
  -webkit-box-orient: horizontal
  -webkit-box-direction: reverse
  -ms-flex-direction: row-reverse
  flex-direction: row-reverse

.current-user-message 
  .message-wrapper
    background: #2B5278
    border-bottom-left-radius: 3px
  .message-triangle
    left: calc( 100% - 2px)
    -webkit-transform: rotate(-45deg)
    transform: rotate(-45deg)
    border-right: 7px solid #2B5278

.middle-message
  width: 100%
  display: flex
  justify-content: center
  padding: 8px 0

.middle-message-value
  display: flex
  align-items: center
  height: 27px
  padding: 0 15px
  background: #1E2C3A
  border-radius: 13px
  font-size: 15px

.menu
  width: 190px
  padding: 5px 0
  border-radius: 5px

.sub-menu
  display: none
  position: absolute
  left: 100%
  
.menu-option:hover
  cursor: pointer
  .sub-menu
    display: block

.menu-option
  display: flex
  justify-content: space-between
  align-items: center
  position: relative
  padding: 7px 15px
  font-size: 16px
  transition: background-color .1s
  
.disabled-menu-option
  color: #ccc
  
.menu-option-triangle
  width: 0
  height: 0
  border-top: 5px solid transparent
  border-bottom: 5px solid transparent
  border-left: 5px solid $small-text-color

.reply-message-content
  display: flex
  flex-direction: column

.reply-message-user-name
  color: #51B3F3
  font-size: 14px

.replying-message
  display: flex
  align-items: center
  height: 50px

:export
  messageWidth: $inner-width
  contentWidth: $inner-width - 2 * $creation-date-right
  creationDateBottom: $creation-date-bottom
  creationDateRight: $creation-date-right
  messageTextSize: $font-size
