$mainBackground: #fff
$chatListItemColor: #ccc
$chatListLastMessageAuthorColor: #73B9F5
$leftMenuUserInfo: #fff
$mainColor: #000
$unreadMessageCountBackground: #B9B9B9
$burgerLineBackground: #979b9f
$hoverBurgerLineBackground: #ACACAC
$betweenElementBorder: #ccc
$searchItemHoverBackground: #F1F1F1
$searchBackground: #F1F1F1
$unreadMessageCountColor: $mainBackground
$selectedChatBackground: #419FD9
$selectedChatUnreadMessageCountBackground: #C6E1F7
$chatMessagesBackground: transparent