$mainBackground: #17212b
$chatListItemColor: #91A3B5
$chatListLastMessageAuthorColor: #73B9F5
$leftMenuUserInfo: #276899
$mainColor: #fff
$unreadMessageCountBackground: #3E546A
$burgerLineBackground: #3F4750
$hoverBurgerLineBackground: #DCDCDC
$betweenElementBorder: #0F1820
$searchItemHoverBackground: #202B36
$searchItemFocusBackground: #25313D
$searchBackground: #242F3D
$unreadMessageCountColor: $mainColor
$selectedChatBackground: #2B5278
$selectedChatUnreadMessageCountBackground: #7AA3CA
$chatMessagesBackground: #0E1621
$formRowHoverBacgkround: #232E3C
$formSplitterBacgkround: #232E3C
$scrollbarBackground: rgba(255, 255, 255, 0.3)
$thumbBackground: rgba(255, 255, 255, 0.2)
$hoverThumbBacground: rgba(255, 255, 255, 0.35)
$currentUserMessageBackground: #2B5378
$arbitraryElementBorderColor: #181818