@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    overflow: hidden;
}

.clear-input {
    border: none;
    background: transparent;
    color: #fff;
    font-weight: 400;
    caret-color: #fff;
}

.clear-input:focus {
    outline: none;
}

.hidden {
    visibility: hidden;
}

.btn {
    border: none;
    border-radius: 5px;
    -webkit-transition: .3s background;
    transition: .3s background;
    color: #fff;
    cursor: pointer;
}

.btn-primary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 15px 80px;
    background: #21639D;
}

.btn-primary:hover {
    background: #3476AB;
}

.clear-btn {
    border: none;
    outline: none;
    background: transparent;
}

.icon {
    fill: #6C7883;
    cursor: pointer;
}

.icon:hover {
    fill: #DCDCDC;
}

.arrow {
    height: 30px;
    width: 30px;
}

.left-arrow {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.paperclip:before {
    content: "\f0c6";
}

.navigation {
    width: 100%;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navigation-link {
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    color: #6A9D9B;
    border-radius: 5px;
}

.navigation-link:hover {
    background: #1D2A39;
}

.input-label {
    position: absolute;
    margin-top: -25px;
    color: #6396CB;
    font-size: 16px;
}

.form-input {
    width: 100%;
    height: 20px;
    color: #fff;
    padding: 10px 0 10px 15px;
    -webkit-transition: .1s;
    transition: .1s;
}

.form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.input-line::before,
.input-line::after {
    content: '';
    position: absolute;
    bottom: 0;
}

.input-line::before {
    height: 1px;
    width: 100%;
    background: #313C49;
}

.input-line::after {
    left: 50%;
    height: 2px;
    width: 0;
    background: #6396CB;
    -webkit-transition: .2s;
    transition: .2s;
}

.form-input:focus + .input-line:after {
    left: 0;
    width: 100%;
}

.burger {
    max-width: 30px;
    padding: 10px;
    cursor: pointer;
}

.burger-line {
    height: 2px;
    width: 20px;
    margin: 3px 0;
    background: #3F4750;
    -webkit-transition: .2s;
    transition: .2s;
}

.burger:hover .burger-line {
    background: #DCDCDC;
}

.message-author-avatar {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.middle-avatar {
    width: 50px;
    height: 50px;
}

.df {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.jcsb {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.jcsa {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.aic {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.page-title {
    font-size: 25px;
}

a {
    text-decoration: none;
}

.page {
    height: 100vh;
    background: #17212B;
    padding: 0 20px;
}

.page.start-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    padding: 0;
}

.start-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 200px;
    background: -webkit-gradient(linear, left top, left bottom, from(#124A82), to(#22649E));
    background: linear-gradient(#124A82, #22649E);
}

.start-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    color: #fff;
}

.start-welcome {
    text-align: center;
    color: #727E8A;
}

.start-messaging-btn {
    margin-top: 30px;
}

.scan-qr-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #17212B;
}

.qr-code {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-item-align: center;
    align-self: center;
    margin: auto;
}

.qr-code-image {
    border-radius: 10px;
}

.qr-code-title {
    margin-top: 10px;
}

.qr-code-instruction {
    list-style: none;
    counter-reset: instruction-index;
}

.qr-code-instruction-item {
    font-size: 14px;
    font-weight: 300;
    counter-increment: instruction-index;
}

.qr-code-instruction-item:before {
    content: counter(instruction-index) ". ";
    font-weight: bold;
}

.phone-login {
    color: #6A9D9B;
}

.login-page,
.code-verification-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.phone-caption {
    font-size: 13px;
    color: #727E8A;
}

.login-form {
    width: 260px;
    margin: auto;
}

.login-phone-group {
    margin-top: 30px;
}

.login-form-btn {
    margin-top: 30px;
}

.code-verification-group {
    margin-top: 80px;
}

.index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    background: #17212B;
}

.chat-item > * {
    min-width: 0;
}

.chat-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    cursor: pointer;
    -webkit-transition: .2s;
    transition: .2s;
}

.chat-item:hover {
    background: #202B36;
}

.circle {
    border-radius: 50%;
}

.chat-image {
    min-width: 50px;
    width: 50px;
    height: 50px;
    padding: 8px 10px;
}

.chat-icon {
    width: 20px;
}

.chat-item-details {
    padding-right: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: auto;
    -ms-flex-negative: 1;
    flex-shrink: 1;
}

.chat-name {
    font-size: 14px;
}

.last-message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5px;
    font-size: 14px;
}

.last-message-user-name {
    color: #73B9F5;
}

.last-message-content {
    margin-left: 5px;
    color: #91A3B5;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.chat-item-right-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 300;
    white-space: nowrap;
}

.last-message-date {
    color: #91A3B5;
}

.unread-messages-count {
    margin-top: 5px;
    padding: 3px 5px;
    font-weight: 500;
    background: #3E546A;
    border-radius: 10px;
}

.selected-chat {
    background: #2B5278;
}

.selected-chat:hover {
    background: #2B5278;
}

.selected-chat .unread-messages-count {
    background: #7AA3CA;
    color: #2A5394;
}

.chats-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 8px 10px;
}

.chats-search-input {
    height: 20px;
    -webkit-box-flex: 12;
    -ms-flex-positive: 12;
    flex-grow: 12;
    padding: 5px 15px;
    color: #fff;
    background: #242F3D;
    border-radius: 3px;
}

.index-burger {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 14px;
}

.chats {
    position: relative;
    overflow-y: scroll;
}

.scrollbar {
    scroll-margin: 20px;
}

.scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.35);
}

.chats-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    max-height: 100vh;
    min-width: 350px;
    border-right: 1px solid #0F1820;
}

.chat-action-icon path {
    fill: #727E8A;
}

.chat-icon-hover {
    cursor: pointer;
}

.chat-icon-hover:hover path {
    fill: #DCDCDC;
    -webkit-transition: .1s;
    transition: .1s;
}

.chat-action-icon {
    width: 30px;
    height: 30px;
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
}

.chat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.chat-header {
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 0 0 18px;
    border-bottom: 1px solid #0F1820;
}

.members-count {
    color: #727E8A;
    font-size: 12px;
    margin-top: 4px;
}

.chat-action-btn {
    height: 300%;
    position: relative;
    padding: 10px 10px;
    cursor: pointer;
}

.chat-action-btn:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    -webkit-transition: .2s;
    transition: .2s;
}

.chat-action-btn:active:before {
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
}

.chat-messages {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    padding: 0 15px;
    overflow-y: scroll;
    background: #0E1621;
}

.current-user-message .message-author-avatar {
    display: none;
}

.message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5px;
}

.message-wrapper {
    position: relative;
    padding: 5px 10px;
    border-radius: 3px;
    border-bottom-left-radius: 0;
    background: #182533;
}

.message-triangle {
    position: absolute;
    width: 0;
    height: 0;
    bottom: -4px;
    left: -6px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 7px solid #182533;
}

.message-author {
    color: #9D8BF2;
    font-size: 14px;
}

.message-text {
    color: #F5F5F5;
    font-size: 14px;
}

.message-created-at {
    margin-top: 2px;
    text-align: right;
    color: #727E8A;
    font-size: 13px;
}

.message-reply {
    right: 20px;
    position: absolute;
    font-size: 14px;
    color: #727E8A;
}

.text-content {
    margin-top: 4px;
}

.previous-in-row-user-message,
.last-in-row-user-message {
    margin-top: 2px;
}

.first-in-row-user-message .message-triangle,
.first-in-row-user-message .message-author-avatar,
.previous-in-row-user-message .message-triangle,
.previous-in-row-user-message .message-author-avatar {
    visibility: hidden;
}

.last-in-row-user-message .message-wrapper:hover .message-reply,
.previous-in-row-user-message .message-wrapper:hover .message-reply {
    display: none;
}

.message-wrapper:hover .message-reply {
    display: block;
}

.message-reply {
    display: none;
    text-decoration: underline;
    cursor: pointer;
}

.message-form {
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.message-input-icon path {
    fill: #727E8A;
}

.message-input-icon {
    width: 20px;
    padding: 0 15px;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.message-input {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    padding: 12px 0;
    background: transparent;
}

.up-layer {
    display: flex;
    justify-content: center;
    z-index: -100;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0);
}

.show-up-layer {
    z-index: 100;
    background: rgba(0, 0, 0, .3);
    transition: background .3s;
}

.saved-messages-icon {
    width: 15px;
    margin-bottom: 2px;
}

.left-menu {
    z-index: 1000;
    position: absolute;
    left: -100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 270px;
    height: 100%;
    background: #17212B;
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.left-menu-user-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 130px;
    padding: 0px 15px 0 25px;
    background: #276899;
}

.user-name {
    font-size: 14px;
    font-weight: 500;
}

.phone-number {
    font-size: 13px;
    font-weight: 300;
}

.left-menu-options {
    margin-bottom: auto;
    padding-top: 10px;
}

.left-menu-option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 12px 25px;
    cursor: pointer;
}

.left-menu-option:hover path {
    -webkit-transition: .1s;
    transition: .1s;
    fill: #DCDCDC;
}

.left-menu-option:hover {
    -webkit-transition: .1s;
    transition: .1s;
    background: rgba(255, 255, 255, 0.05);
}

.option-name {
    margin-left: 25px;
    margin-right: auto;
    font-size: 13px;
}

.option-icon {
    width: 20px;
}

.option-icon path {
    fill: #727E8A;
    stroke-width: 2;
}

.saved-messages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.left-menu-app-info {
    padding: 0 0 15px 25px;
    font-size: 13px;
    color: #727E8A;
}

.app-version {
    margin-top: 7px;
}

.small-toggler {
    width: 25px;
    height: 15px;
    border-radius: 8px;
}

.toggler-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.toggler-container {
    position: relative;
    background: #276899;
    cursor: pointer;
}

.checkmark:before {
    position: absolute;
    content: '';
    border-radius: 50%;
}

.small-toggler .checkmark:before {
    right: calc( 100% - 12px);
    top: -3px;
    width: 17px;
    height: 17px;
    background: #17212B;
    border: 2px solid #276899;
    -webkit-transition: .1s;
    transition: .1s;
}

.toggler:checked + .checkmark:before {
    right: -7px;
}

input {
    width: 30px;
    height: 30px;
}

input:checked + .fuck:before {
    position: absolute;
    content: "1232";
}

.show-left-menu {
    left: 0;
}

.current-user-message {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.current-user-message .message-wrapper {
    background: #2B5278;
    border-bottom-left-radius: 3px;
}

.current-user-message .message-triangle {
    left: calc( 100% - 2px);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-right: 7px solid #2B5278;
}

.invalid-phone-number {
    padding: 14px;
    font-size: 12px;
    color: #727E8A;
    text-align: center;
}

.form-btn {
    padding: 8px;
    margin: 0 5px;
    border-radius: 5px;
    font-size: 16px;
    color: #6396CB;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
}

.form-btn:hover {
    background: #1D2A39;
}

.form {
    position: absolute;
    padding: 10px 20px 15px 20px;
    margin: auto;
    background: #17212B;
    border-radius: 3px;
}

.form-title {
    font-size: 18px;
}

.center-element {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.file-input {
    display: none;
}

.text-input {
    width: 100%;
}

.label {
    font-size: 15px;
    color: #6396CB;
}

.new-group-form {
    width: 330px;
    padding-top: 20px;
}

.image-input-wrapper {
    margin-right: 30px;
}

.image-input {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.add-members-form {
    width: 320px;
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
}

.add-members-title {
    padding-left: 25px;
}

.invite-friend-count {
    font-size: 13px;
    color: #727E8A;
    margin-left: 15px;
}

.small-user-avatar {
    height: 40px;
    width: 40px;
}

.short-user-info-wrapper:hover {
    background: rgba(255, 255, 255, 0.1);
}

.short-user-info-wrapper {
    display: flex;
}

.friends {
    min-height: 250px;
    max-height: 350px;
    overflow-x: scroll;
    margin-top: 5px;
    border-bottom: 1px solid #0e1621;
    border-top: 1px solid #0e1621;
}

.short-user-info-wrapper {
    padding: 4px 20px;
    cursor: pointer;
}

.short-user-info {
    margin-left: 10px;
}

.add-members-buttons {
    margin-right: 15px;
}

.friend-info .user-avatar {
    border: 2px solid transparent;
}

.selected-friend .user-avatar {
    border: 2px solid #2F6EA5;
}

.invalid-group .label {
    color: #fa2323;
}
.invalid-group .input-line::after {
    background: #fa2323;
}
/*# sourceMappingURL=style.css.map */